@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: #000;
    height: 100%;
}

/* Navigation */

.navbar {
    background-color: #fff;
    height: 150px;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.img-logo {
    flex: 1;
    width: auto;
    height: 120px;
    border-radius: 60px;
    border: 4px solid #000;
    margin-left: 4rem;
}

.img-logo:hover {
    cursor: pointer;
    border: 2px solid #000;
}

ul li {
    display: inline;
}

.nav-items {
    flex: 5;
    flex-direction: row;
}

.nav-items li {
    list-style: none;
    margin-right: 65px;
}

.nav-items li a {
    color: #000;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
}

.nav-items li a:hover {
    opacity: 65%;
}

.btn-container {
    flex: 1;
}

.btn-login {
    background: #D8BBBB;
    color: #000;
    width: 150px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-right: 13px;
    font-size: 24px;
    font-weight: 600;
}

.btn-login:hover {
    opacity: 65%;
    background: #D8BBBB;
}

/* Title */

.top-back {
    background: #000;
    height: 280px;
    width: 100%;
}

.top-container {
    height: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-title {
    justify-items: center;
    padding: 4rem 5rem 4rem 5rem;
    text-align: justify;
    color: #fff;
    flex: 5;
}

.top-title h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
}

.top-title hr {
    width: 485px;
    margin: 0 0 1rem 0;
}

.top-title p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.img-playlist {
    width: 350px;
    height: 200px;
    margin: 3rem;
}

.delete {
    margin: 3rem;
    flex: 1;
}

.delete-btn {
    border-radius: 50%;
    border: none;
    outline: none;
    width: 78px;
    height: 78px;
    background: #000;
    cursor: pointer;
    padding: 0;
    background-image: url(./images/button-delete.png);
    background-size: cover;
}

.delete-btn:hover {
    opacity: 75%;
}

/* Playlist Item */

.playlist-container {
    background: #000;
    height: 92px;
    width: 100%;
    border-radius: 30px;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 3rem;
}

.item-left {
    flex: 0.8;
}

.playlist-img {
    width: 125px;
    height: 70px;
    border-radius: 10px;
}

.line {
    border-left: 3px solid #fff;
    height: 96px;
    flex: 0.25;
}

.item-middle {
    flex: 4;
}

.item-middle p {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

.item-right {
    flex: 0.5;
}

.item-right p {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.playlist-container .delete {
    margin: 1rem;
}

.playlist-container .delete .delete-btn {
    width: 50px;
    height: 50px;
}

/* Footer */

.backfooter {
    background: #fff;
    width: 100%;
    height: 118px;
    border: 2px solid #000;
    margin-top: 50vh;
    bottom: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 118px;
}

.contact-person {
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    flex: 1.85;
}

.contact-person h1 {
    color: #000;
    font-size: 14px;
    font-weight: 800;
    height: 15px;
}

.contact-person ul {
    height: 18px;
    padding-inline-start: 0;
}

.contact-person ul li {
    list-style: none;
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

.middle-footer {
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    flex: 2;
}

.banner-forenter {
    width: 146px;
    height: 74px;
    display: block;
}

.middle-footer h1 {
    color: #000;
    font-size: 10px;
    text-align: center;
    width: 146px;
}

.logo-footer {
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
}

.black-logo:hover {
    cursor: pointer;
    opacity: 90%;
    border-radius: 50px;
}